body{
  background-color: #f2f2f2 !important;
}
*{
    font-family: "B Koodak";
    font-size: 16px;
}
form-group{
    direction:rtl;
}
.form-group{
    direction:rtl;
}
.card{
    width:50%;
    margin:0 auto;
}
.offset-md-4{
    margin-left:25% !important;
}
.btn-primary{
  margin-top:30px;
    width:150px;
    background-color:#7EA6C0 !important;
    border-color:#7EA6C0 !important;
}
.btn-primary:hover{
    background-color:#3490dc !important;
}
.form-control{
    color:#7EA6C0 !important;
    border-color:#7EA6C0 !important;
}
::-webkit-input-placeholder {
  color: #7EA6C0 !important;
}
::-moz-placeholder {
  color: #7EA6C0 !important;
}
:-ms-input-placeholder {
  color: #7EA6C0 !important;
}
:-moz-placeholder {
  color: #7EA6C0 !important;
}
.form-check-label{
  margin-right: 1.5rem;
}

.form-check-label{
  color: #7ea6c0 !important;
}

.card{
  border: none !important;
  background-color: #f2f2f2 !important;
}
